@font-face {
  font-family: Youth;
  src: url("font.ttf");
}

body {
  background-color: #888888;
  font-family: Youth, "Arial";
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

body * {
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1;
}

#music {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
  width: 320px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #25262f;
}

#music header {
  background-color: #1d1e25;
  height: 30px;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

#music header #logo * {
  display: inline;
  font-size: 12px;
  color: #8e60f5;
}

#music header #logo span {
  color: white;
}

#music header .center,
.left,
.right {
  flex: 1;
}

#music header .right {
  text-align: end;
}

#music header .center {
  text-align: center;
}

#music main {
  flex: 1;
  overflow-y: hidden;
}

#music main .row {
  height: 30px;
  justify-content: center;
  padding: 0 6px;
  color: white;
  font-size: 14px;
}

#music main .row.selected {
  background-color: #6c49bb;
}

#music footer {
  background-color: #1d1e25;
  height: 30px;
  align-items: center;
  flex-direction: row;
  padding: 0 8px;
  gap: 8px;
}

#music footer .button-prompt {
  color: white;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
}

#music footer .button-prompt img {
  height: 16px;
  margin-right: 2px;
}

#keymap {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 10px;
}

#keymap ol {
  padding: 0 10px;
}

#keymap ol li {
  flex-direction: row;
  gap: 4px;
  color: rgba(0, 0, 0, 0.6);
}

#keymap ol li strong {
  color: black;
}
